<!-- your html code here -->
<div class="d-flex mx-5 mt-5">
    <div class="d-flex flex-fill flex-column">
        <h1><b>This First Heading</b> Will Catch Your Eye</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione esse quo debitis ducimus facere sed omnis sequi unde provident velit incidunt, aut quia, iure eaque excepturi quas dolor vel obcaecati.</p>
    </div>
    <div class="">
        <img class="img-fluid rounded-circle" src="assets/img/1.jpg" alt="Walter White">
    </div>
</div>