<!-- your html code here -->
<div class="d-flex mx-5 mt-5">
    <div class="">
        <img class="img-fluid rounded-circle" src="assets/img/2.jpg" alt="Walter White">
    </div>
    <div class="d-flex flex-fill flex-column">
        <h1><b>The Second Heading</b> Is Pretty Cool Too.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At amet nobis natus placeat dicta, inventore, quam voluptatum eos, assumenda dolorum temporibus odit. Vel quidem fugit voluptate, provident ea distinctio molestias. Distinctio tempora rem aut totam dolor eveniet, quod eum odio!</p>
    </div>
</div>